[2016-09-28 07:32] the-simian opened #2 "images for wiki and readme"

[2016-09-28 07:33] the-simian commented on #2
![example](https://cloud.githubusercontent.com/assets/954596/18904476/d1a57302-8523-11e6-85df-b474be8c59a8.PNG)
![dank-es6-nugs](https://cloud.githubusercontent.com/assets/954596/18904556/3a81efea-8524-11e6-8588-ad8f5a51b001.PNG)

[2016-09-28 07:33] #2 closed

[2016-10-05 20:29] nikolay opened #3 "Maintainability > 100"
I get this on every file for some reason with v1.0.6.

[2016-10-05 21:56] the-simian commented on #3
hey, I noticed this also.

Here's the short version: I think that's what its supposed to do, but we might want to change it.

Here's the long version: The scale, as-is is from an unbounded negative number to 171. I can probably normalize it to a number from 1-100. I know that in older versions of plato getting something like a 70 was pretty good. You can see here, that's what microsoft does atm: h

[2016-10-05 22:01] the-simian commented on #3
https://github.com/typhonjs-node-escomplex/typhonjs-escomplex/issues/3

[2016-10-05 22:02] the-simian commented on #3
Hey! I added an issue for the maintainer   of the main module responsible for complexity calculation ( @typhonrt )to weigh in on. I'd like to hear his thoughts before I implement a particular fix. Also, just a heads up, this module will _eventually_ be pulled into the main plato repo, too. Just keep an eye our for that, and thanks for opening an issue too, @nikolay

in the meantime you can still u

[2016-10-06 00:09] nikolay commented on #3
@the-simian Okay, but the hint states that it's 0-100 when you hover over the ℹ️ button.

[2016-10-06 00:09] typhonrt commented on #3
There already is an option to use the Microsoft maintainability index. You need to pass in `options.newmi = true` [here in Plato](https://github.com/the-simian/es6-plato/blob/master/lib/reporters/complexity/index.js#L9).

Apparently walking up the [call stack in Plato](https://github.com/the-simian/es6-plato/blob/master/lib/plato.js#L44) then `options` here should be `options.complexity.newmi = tr

[2016-10-06 00:54] the-simian commented on #3
Hmm yeah, and it looks like I need to improve Plato readout to make it more obvious what the scale is, too. I might just default that thing to `true` anyways.

Alright, I'll do that and consider that good, but if I want to conditionally show an ℹ️ based on which score was indicated, I'll consider that a separated feature.

[2016-10-09 21:06] the-simian commented on #3
alright, its defaulting to 1-100, you can override it in the options.

[2016-10-09 21:06] #3 closed

[2016-10-28 23:21] jfugett opened #4 "ESLint use CLIEngine instead of Linter directly"
@the-simian

In the eslint reporter you're using the linter method directly which doesn't allow the use of plugins, parser, and a few other things that you can setup using the CLIEngine then calling executeOnText.

Documentation http://eslint.org/docs/developer-guide/nodejs-api

I'm going to have to work on this over the weekend for work since we're using flowtype, would you be open to a  PR for t

[2016-10-29 00:28] jfugett commented on #4
I take that back the changes may not be as extensive as I thought they would be since the engine automatically picks up the eslint config so all of the plugins and everything are automatically added. The current issue I'm having is that the newline is automatically stripped in the source so I'm getting false positives on the new lines being required at the end of file rule.

[2016-10-29 04:13] the-simian commented on #4
Hey i don't mind pulling this in.  Thanks for catching that. I'll get it published very soon.

[2016-10-29 04:13] #4 closed

[2016-10-29 04:21] the-simian commented on #4
@jfugett its published!

[2016-10-29 04:27] jfugett commented on #4
Awesome

[2016-11-01 13:10] the-simian commented on #4
@jfugett hey were you having any problems with the tool locating plugins? This seems to have introduced a regression. I might have to revert it.

[2016-11-01 16:55] jfugett commented on #4
@the-simian it was able to find mine without any problems from both the .eslintrc and the configuration object. Before I couldn't get it to load plugins at all.

I didn't test extending though any chance that's what is happening?

[2016-11-01 18:10] the-simian commented on #4
@jfugett Well it wasn't able to find the plugins and modules, there is a possibility this is due to me testing on a project while using `npm link`. I just wanted to verify it was working correctly for you. I"ll probably try again in a bit but not with a symlinked module, which might have caused the issue. But yeah, it wasnt able to find things like `eslint-plugin-react` and `babel-module`

[2016-11-01 18:48] jfugett commented on #4
let me know if you still have issues without the symlink I'd be happy to help track it down

[2016-11-03 15:34] tomByrer opened #8 "maintain 'es-analysis/plato'?"
Seems like they're looking for help:
https://github.com/es-analysis/plato#needs-active-maintainer

If you do, I'd release your version as v2.0 since you have new calculations, etc.

[2016-11-03 15:58] the-simian commented on #8
I plan on helping them, but after running a conference I've been working
on. When I merge into main repo, I'll deprecated this. In the meantime use
this and submit issues here, I'm trying to fix problems and make it work
nice.

On Nov 3, 2016 10:34 AM, "Tom Byrer" notifications@github.com wrote:

[2016-11-08 12:34] paulblyth opened #9 "SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
Sorry - probably a really n00b issue but running this from the command line gives me:

[code]

This is my command:

`node_modules/es6-plato/bin/plato -r -d complexity src`

Any ideas?

[2016-11-08 15:13] paulblyth commented on #9
Updated to using Node 7 and I get another error with eslint. Leaving this open for now until I find a solution in case someone has already come across this.

[2016-11-09 01:21] the-simian commented on #9
thank for openign an issue @paulblyth !

Seeing the first issue, its almost certainly that you are using an older version of node.
`let` support was added in `Node.js 4.x` , so anything older...won't work with this module. I think you discovered hat too when you updated.

That does resolve the _first issue_ so I'm going to close this. as for your other error? Post it as a separate issue if it come

[2016-11-09 01:21] #9 closed

[2016-11-09 01:24] the-simian commented on #8
Just to swing back on this. I've been in contact with the lead maintainer of plato. He's aware of this project, and has allowed me to contribute. I will get this into plato as soon as I can, but as I said..just keep using this fork in the meantime, and when I get it into plato (main), I will add the proper deprecation notice.

I think that's the closest 'fix' we're going to see on this, so for the

[2016-11-09 01:24] #8 closed

[2016-11-15 16:52] nlindley commented on #9
Hey, @the-simian. I’m actually seeing this error in Node 4.6.2 and 5.12.0. Everything seems fine in whatever version of V8 is used in >=6. A couple of `'use strict'` statements will probably clean it up. I can probably get you a PR unless you beat me to it.

[2016-11-16 14:40] garrymann opened #11 "Since it is called es6 and I am using es6 syntax why are let and others are not supported?"
Hi!

The project seems promising however I cannot make it work on my ES6 code.  I also added 'use strict'; and using ESlint.

[code]

My npm is:
[code]
*****Update:
updated to node: '7.1.0',
now all I get is NaN everywhere and having issues with .reduce()**
[code]

[2016-11-16 17:06] nlindley commented on #11
@garrymann PR #10 was merged yesterday that fixes the `let` and `const` issues, but it doesn’t look like it’s been published to NPM yet

I have also seen the issues with reduce. To just get it to run, I removed `options.globals` from https://github.com/eslint/eslint/blob/master/lib/config.js#L211 which probably causes other problems, but it will run.

If I figure out where the eslint issue is comi

[2016-11-16 17:21] garrymann commented on #11
Thanks for the reply. However the issue still persists for es6-plato@1.0.9 here.

If it helps I could inform you I have just tried the original [plato@1.7.0](https://github.com/es-analysis/plato) and I was successful. So if you don't consider my case as an issue you can pass on it.

[2016-11-16 17:38] nlindley commented on #11
1.0.9 is behind master. If you change your package.json to

[code]

you can try out the latest in Node < 6. The eslint bug will still be there.

[2016-11-17 06:55] the-simian commented on #11
ok I published the change by @nlindley , just needed to finish my workday first. As for this issue it is referenced to https://github.com/the-simian/es6-plato/issues/9 as well. Basically your node was old (but looks like you figured that out)

~~If you're still getting it, can you open a separate issue for the reduce function? @garrymann~~

edit: I figured it out. Its eslint api change.

[2016-11-17 06:55] #11 closed

[2016-11-17 07:08] the-simian commented on #11
Ok quick followup, @garrymann and @nlindley  I know what your problem is with the `globals prop`: see here...

[code]

look at the globals property. Basically the eslint api changed at some point. I updated my readme example to reflect this. It used to be an object `{ require: true }`, but now it is an Array `['require']`.

I just pulled down the latest and ran it. Everything is working just fine!

[2016-11-20 10:46] garrymann commented on #11
Brilliant! Cheers for that! :)

[2016-12-04 13:55] artursgirons opened #14 "Support for *.jsx files?"
https://github.com/the-simian/es6-plato/blob/master/lib/plato.js#L115
`jsx?$`

[2017-01-10 19:12] the-simian commented on #14
hey @artursgirons , I've not experimented using this with .jsx. Have you tried this? I am willing to accept pull requests

[2017-01-10 23:42] artursgirons commented on #14
Jup, just changed that one place (directly in my local mode_modules) and worked like a charm :)

[2017-01-11 20:04] the-simian commented on #14
Hey thanks, @artursgirons . Seems like a simple enough fix, then.  Would you be willing to submit a quick PR? if not I can, but that would get it in faster

[2017-02-01 10:21] cdawi commented on #14
When are you going to release new version to npm? Are you doing it manually, or have some kind of CI like Travis CI?

[2017-02-03 00:44] the-simian commented on #14
I'll check it tonight @dafit1991

[2017-02-08 20:03] the-simian opened #17 "Add attribute to css files to improve compatibility in CI envoronments"

[2017-02-08 20:04] the-simian commented on #17
some users report:
[code]

action is to add text/css to the css file sin the templates

[2017-02-09 04:27] #14 closed

[2017-02-09 04:27] the-simian commented on #17
ok this is published now.

[2017-02-09 04:27] #17 closed

[2017-02-09 04:35] the-simian commented on #14
@artursgirons /  @dafit1991 oh i forgot to mention that this is all done and published

[2017-06-15 02:28] Announcement opened #22 "Globby from Glob"
I want to exclude things like `my.ponyfill.js` or something like that. from screwing up my extremely restrictive eslint.

[2017-06-15 17:07] the-simian commented on #22
Are you asking me to switch from glob to globby? I want to make sure I understand the issue.

[2017-06-16 01:31] Announcement commented on #22
Well either that, or add support some sort of way to control file inputs better.

[2017-08-09 00:39] the-simian commented on #22
Can you make and test a PR for this? if nothing breaks I'll pull it in.

[2017-08-12 22:06] adambene opened #26 "code coverage for tests"
Are there any plans to add code coverage for LCOV reports?

[2017-11-22 00:55] Announcement opened #29 "untracked dependencies"
es6-plato isn't pulling in the required dependencies, so far to get it to run i've had to install
- `eslint`
- `eslint-plugin-react`
- `babel-eslint`
- `eslint-config-defaults`

[2017-11-25 03:27] the-simian commented on #29
that's weird I can see at the very least that eslint is sitting right there in the dependencies list...?
[code]

Are you doing anything special with the library, like using it in a CI environment? @Announcement

[2017-12-12 07:21] LeonDWong opened #32 "Could eslint in plato be updated?"
I use this tool in my project, the library is a great work. But I found that latest eslint version in library is 4.1.0, and its latest version is 4.13.1. When i run plato in my project, it throws error because of the airbnb-base extends in my eslint config file. And it’s working fine when I update eslint to 4.10.0 or above. Could plato update eslint as well?
Here is the screenshot:
![image](https:

[2017-12-20 05:31] the-simian commented on #32
hey @LeonDWong , I just now see this. I will update when I can, but if you want it sooner - can you submit a PR?

[2017-12-20 11:27] LeonDWong commented on #32
@the-simian Yes, i found that the greenkeeper created a eslint-about branch already, and just pr this branch.)))
https://github.com/the-simian/es6-plato/pull/33

[2017-12-21 23:20] the-simian commented on #32
ok its published, @LeonDWong

[2017-12-21 23:20] #32 closed

[2017-12-21 23:20] the-simian commented on #29
I updated deps, that might fix this.

[2017-12-21 23:20] #29 closed

[2017-12-22 03:06] LeonDWong opened #34 "Can't run es6-plato@1.0.15 in Unix-like OS in cli"
When update package to 1.0.15(latest for now), i run script `es6-plato -r -d report code-pieces/v1/*` in cli, then it throw the error `env: node\r: No such file or directory`. It seems like problem is caused by difference of line ending between unix-like OS and Windows. After i changed line ending of es-plato.js from Windows to Unix manually in node_modules/.bin folder, the problem be fixed. But p

[2017-12-28 22:11] the-simian commented on #34
hey  @LeonDWong , thanks for the issue, simple enough:  I'll add that prepublish script, that fixes the line endings.

[2017-12-28 22:46] the-simian commented on #22
ok hey I updated this lmk how it goes, @Announcement

[2017-12-28 22:46] #22 closed

[2017-12-28 22:47] the-simian commented on #34
ok I did a bunch of stuff like set `package.json text eol=lf` in .gitattribues. I -think- that should do it? However you'll need to try it out in your particular environment. Let me know how it goes. @LeonDWong

[2017-12-28 22:47] #34 closed

[2017-12-28 22:48] the-simian commented on #26
right now? no.
Someday i want to make my own complexity and coverage tooling, that isn't plato at all and then I'll work on that.

[2017-12-28 22:48] #26 closed

[2017-12-29 02:09] LeonDWong commented on #34
@the-simian GJ, it's fixed in version 1.0.16.

[2017-12-29 02:41] the-simian commented on #34
Thanks, @LeonDWong really appreciate the followup!!

[2017-12-29 12:53] keenahn opened #36 "How to specify eslint config"
I'm getting a lot of lint errors in the report, and it's because plato is not picking up my `.eslintrc` any thoughts?

[2017-12-29 16:17] the-simian commented on #36
offhand not sure, are you using es6-plato from the command line, or in the context of another build tool?

[2018-01-09 15:21] texels commented on #36
I am getting the same issues running from the command line: es6-plato -r -d report src

[2018-01-12 08:45] the-simian commented on #36
thanks @texels !, can you lmk your eslint version just so I can test repro :)

[2018-02-05 12:24] pats commented on #36
me too
I'm getting a lot of issues
especially
 Cannot find module 'eslint-plugin-react'

[2018-02-06 23:22] the-simian commented on #36
Hey everyone I am sorry you're having problems, can you post actual debugging information?

[2018-02-19 10:11] gknapp commented on #36
I've installed `es6-plato` globally on my CI server.

[code]

`> es6-plato -r -x "(styles|assets|.+\.(html|bak|json))" -d report app`

[code]

Lots of lines of the above, ending with:

[code]

(I am running this manually from my CI server in the Jenkins workspace to get the command right before I add it to the pipeline).

Do the end lines look like a permissions issue?

[2018-02-19 10:38] gknapp commented on #36
I installed this as a `devDependency` in my development workspace, it ran without issue:

[code]

[2018-02-20 17:52] the-simian commented on #36
hey @gknapp thanks for the feedback (and the stack trace!!) , I think that permissions could be related, but its good to see the 'problem module' is 'eslint-plugin-react'

[2018-02-22 18:39] Slapbox opened #39 "Excluding files in gulp config and support for multi-level project structures?"
I imagine there's a relatively easy way to make both these things happen as the project exists now, but without spending a lot of time digging through the code I'm not able to know if that's the case. Is there a way to make these things work in the project as it currently is?

Thanks very much for this really awesome project. Seriously what a godsend.

[2018-02-22 20:05] Nantris commented on #39
**Multiple sources:**

`src = [ './path/to/src/1', './path/to/src/2' ]`

**Single Exclusion:**

[code]

**Multiple Exclusions:**

[code]

[2018-02-22 20:05] #39 closed

[2018-02-26 00:57] the-simian commented on #36
@keenahn , @gknapp , @pats , @texels I have a released a new version, I added the offending plugin as a dependency directly. (it had better find it now, right?) I tested installing and it worked for me with both yarn and also standard npm.

I want you to try this version and see how it goes.

I'm closing the issue, but if the problem is still there, just post the stack trace like @gknapp did and I

[2018-02-26 00:57] #36 closed

[2018-03-04 19:27] gorankarlic opened #41 "Some settings in custom .eslintrc.json are being ignored"
It does not use the eslint configuration file ``.eslintrc.json`` from the current working directory for eslint execution.

[2018-03-04 19:50] gorankarlic commented on #41
It **does** use ``.eslintrc.json``from the the current working directory for eslint execution, and it can also be specified with the ``-l myeslintrc.json`` command line argument.

It seems that the rule for using double quotes from my ``.eslintrc.json`` gets overridden and it eslint expects single quotes.

Can be fixed by inserting the following at line ``77`` of ``lib/plato.js``
[code]

[2018-03-06 19:20] the-simian commented on #41
hey @gorankarlic  I can fix this, but if you want to make a PR, I'd be happy to pull it in too I think I can hit this pretty soon - like this afternoon

[2018-03-07 00:32] Slapbox opened #43 "ES7 Support"
What would be involved in supporting ES7 features like the [optional chaining operator](https://github.com/tc39/proposal-optional-chaining)?

[2018-03-17 11:24] sarkasmus opened #46 "Use Cloc to count number of comment lines, blank lines and pure code."
It would be nice to see in the first chart data from CLOC (https://github.com/kentcdodds/cloc) in a chart similar to http://www.chartjs.org/samples/latest/charts/area/line-stacked.html

[2018-03-19 03:33] RonnieRen opened #47 "does not include subdirectories with this cmd: es6-plato -r -d report src"
anything wrong with my command line ?

[2018-03-19 20:17] the-simian commented on #47
@RonnieRen
Offhand it looks right (possibly you night need to put a `.` after the `-r`, I can't recall atm)
- is it throwing any errors?
- does it only work one level deep, but does work just fine?
- can you post your cmd line output?

If you do these things can help more, I'll do my best to test this also.

oh yes, what is your environment osx/windows? bash/cygwin?

thanks for the issue! I apprec

[2018-03-19 20:22] the-simian commented on #46
Oh hey this is an awesome idea! Thank you for the suggestion!!

I will do my best to carve out some time to work on this, I think its very valuable feedback for sure.

[2018-03-20 16:04] RonnieRen commented on #47
@the-simian
thanks for your response.
* there is not any errors thrown
*  yes it only works one level deep.
* the output is only one word:
[code]
BTW,  ```. ```(current directory) is not accepted as a valid command line after ``` -r ```

[2018-03-20 17:59] michaeldoubek commented on #46
I have some other ideas but it would take some time, so I will make a fork and will try to add some features when I have time. Thanks for implementing this!

[2018-05-10 12:36] tk opened #50 "eslint options are not documented and passed from cli to plato.js"
The eslintrc configuration feature from #27 is not yet accessible from the cli and documented.

[2018-05-11 02:40] #50 closed

[2018-05-11 02:41] the-simian commented on #50
Thank you very much, I'll publish!

[2018-05-11 02:59] the-simian commented on #41
@gorankarlic , hey is this still an issue for you? I recently published some changes to these lines that might resolve this.

[2018-05-11 03:00] the-simian commented on #43
sorry to take to long to reply, I'm not sure offhand, i've actually not really use that feature much

[2018-05-11 03:01] the-simian commented on #43
I am basically wrapping na existing tool to generate the complexity metrics from https://github.com/typhonjs-node-escomplex/typhonjs-escomplex

I think that maybe hit that author up, might be best. So I'll close this as I think its there, not here.

[2018-05-11 03:01] #43 closed

[2018-05-11 03:05] the-simian commented on #47
hey I just tested your exact command and I couldnt reproduce the issue, let me show you
![image](https://user-images.githubusercontent.com/954596/39904594-3b73ee76-549e-11e8-8dd4-b24203613bb4.png)

[2018-05-11 03:07] the-simian commented on #47
basically I just did a quick `yarn-add` es6-plato and ran the command you pasted and it got everything, you can see in other parts of the image its doing 1 level deep, 2 levels deep, etc.

Can you maybe make a small test project reproducing this? Its just not happening for me.

I'm closing this because its not happening for me, but I'll still keep looking at it if you can make me a project that de

[2018-05-11 03:07] #47 closed

[2018-05-11 03:09] the-simian commented on #41
ok I think the recent update fixes this, but if it doesnt, and its still a problem just reopen an issue. I appreciate the report!

[2018-05-11 03:09] #41 closed

[2018-05-11 03:10] the-simian commented on #46
hey thanks again for the feature request. To be honest i've been fantasizing about completely rewriting this project to make a lot of enhancements myself. time is hard to come by :)

I'm gonna close this, since IDK if there's anything actionable for me here. If you make some changes by all means I will 100% pull it in if its working

Thank you again!!

[2018-05-11 03:10] #46 closed

[2018-05-15 15:50] Asuza opened #55 "Renaming the repo"
I realize the name you gave it makes perfect sense, but have you considered renaming it to Aristotle, since that's the name of Plato's best student?

You mentioned in an issue somewhere that you were able to simplify the original Plato code while updating it for ES6, so it seems fitting to me.

[2018-05-15 19:16] the-simian commented on #55
All this is true, however I have kept it as this name because I felt like at some point I may very well merge this into the plato master branch, but the merge conflicts were great, and it was not as easy as it looked at the time.

I've also considered starting over on this project and building the interface in something like React, which is what I work in usually these days. Ultimately if I did th

[2018-05-15 19:16] #55 closed

[2018-05-17 13:09] greenkeeper[bot] opened #56 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-18 00:33] the-simian commented on #56
Not upgrading yet. no way, I got burned by this version already

[2018-05-18 00:33] #56 closed

[2018-07-23 09:58] Lokiem opened #61 "Reporter doesn't highlight es6 arrow functions and popups don't always appear"
The regex for the highlighter requires the format of non-es6 anonymous functions.

lib/assets/scripts/plato-file.js line 55, if the regex is changed to '(function\\\\s*)?(\\\\()[^()]*\\\\)' then it should cover old and new anonymous functions. (Not familiar with Github so don't know what I'm doing with making changes myself!)

Another bug in the report js appears to be the popups when hovering ove

[2018-07-23 20:36] the-simian commented on #61
thanks for the report, @Lokiem , are these two separate issues?

[2018-07-23 22:00] Lokiem commented on #61
They may be related, as the result of the regex match is used for the popover JS.

The popover being cutoff is related to the container property of the popover function (Currently not set, so I would assume it's defaulting to it's parent, which looks to be .CodeMirror as it has a overflow:hidden), if that property is set to body then the cutoff is fixed, though linespacing on the popover is a litt

[2018-07-23 22:30] the-simian commented on #61
Ok let me try out that regext - see if it catches all the functions. I want to see if I can reproduce the problem and the fix. Appreciate the feedback, @Lokiem

I can't get to it for a while; however, if you manage to make a Pull request with the proposed changes I will happily pull it in.

[2018-08-09 07:55] gulping opened #63 "Are dependency version locks reasonable?"
Some of deep dependency of this package is the legacy.
(ex: [core-js 1.2.7](https://github.com/zloirock/core-js/releases/tag/v1.2.7))
And some direct dependencies are a little old.
greenkeeper is pointing out it.
https://github.com/the-simian/es6-plato/branches/all

npm doesn't upgrade dependencies that specificated without [range](https://github.com/npm/node-semver#caret-ranges-123-025-004) synta

[2018-08-09 15:34] the-simian commented on #63
Good question. Generally I'm trying to keep the dependencies that matter most up to date. For instance lodash is basically up to date, as is the actual es parser, globby, etc. This is what is used in the code-analysis. The most important dep is `typhonjs-escomplex` that's always as up to date as I can be.

Lets groudn the discussion: At this exact moment, here's every version disparity
[code]

So

[2018-08-10 03:24] gulping commented on #63
Thank you for the crystal clear explanation!

😨

My opinion was just too optimistic.
Now I completely agree with the versioning strategy.

[2018-09-19 11:40] alex-pollan opened #68 "Javascript file extension must be js(x)"
It would be nice to be able to specify the extension used for input files.
Although I get that the standard extension is ``.js`` in our case we used ``.es6`` because we are migrating a big project from old js specification to es6 specification (so we have them side by side) and we chose to use that extension.
I think won't harm to pass that value as an extra argument.

makes sense?

[2018-09-19 13:00] alex-pollan opened #69 "Missing dependencies?"
It seems that there is an issue with some missing dependencies.

This is my environement:
- nodejs v8.11.4
- npm v6.4.1

I do this:

[code]
I get this error: _Failed to load plugin import: Cannot find module 'eslint-plugin-import'_
I install the missing module and try again:
[code]

then I get: _Cannot find module 'babel-eslint'_
I install the missing module and try again:
[code]
then it worked

😕

[2018-09-19 17:49] the-simian commented on #69
Just to cover our bases did you add this to your scripts in package.json?
`"complexity-report": "./node_modules/.bin/es6-plato -r -d ./report src"`
@alex-pollan

[2018-09-20 14:50] alex-pollan commented on #69
yes, I did it to be able to do : ``npm run complexity-report``

[2018-09-21 01:19] the-simian commented on #69
@alex-pollan I am not sure about ti skipping, at least I don't think so because none of those dependencies are that far behind, but to be honest its probably time to update them anyways just to be on the safe side. I am using this in a lot of my own day-to-day projects and I haven't seen this error, but I might be just suppressing it with stale modules too.

let me try this on a new project, see w

[2018-09-21 01:33] the-simian commented on #68
You're basically asking to change the extension of the file glob to some custom argument (not .js, something arbitrary) right?
believe it or not, its just a simple glob : https://github.com/the-simian/es6-plato/blob/master/lib/plato.js#L60

I've honestly never tried globbing another file format besides .js, but if you did - it would grab those files and (I'm assuming) try to parse them. The underl

[2018-09-21 08:21] alex-pollan commented on #68
I adjusted the code to my needs.
But I did it below in this line:

} else if (file.match(/\.jsx?$/)) {

I extended the regex to accept es6 too

Sorry for not pasting the line number, I'm with my phone :smile:

Do you want me to submit a PR? Two possibilities here:
- hardcoded regex
- accept option for file extension regex, custom function, etc

[2018-09-21 17:45] the-simian commented on #68
Yeah hardcoding .es6 is not a good option, the only thing I could see is letting the user override the regex. so a Pr like that is worth considering

[2018-09-21 18:16] the-simian commented on #68
also, this might be a silly question .. why don't you use .es6.js on your files in your project? like you don't need to change the last extension, you can still mark the es6 ones though

[2018-09-21 19:06] alex-pollan commented on #68
Not at all, it's a fair question.
We didn't do it when we had the chance. It seemed fine at the moment.
It's a set of projects with many files.
Obviously, we could do it, but we rather not.

[2018-11-04 17:56] the-simian commented on #68
@alex-pollan I'm still open to a PR for this. As I thought about it, it might help with the (admitted small number of) people using .mjs and formats like that too.

[2018-11-16 18:43] seanohue opened #72 "Fails on dynamic import"
Hello,

When using this to analyze source code for a Vue project, it fails on coming across a [Webpack dynamic import](https://webpack.js.org/guides/code-splitting/#dynamic-imports).

With tools like ESLint, this is solvable by using babel-eslint as a parser.

Even though I have my ESLint config with babel-eslint plugged into Plato, I still get an `Unexpected token` error.

This may be solvable by

[2018-11-17 03:15] the-simian commented on #72
That is interesting, I am currently using splitchunks on some projects, which is not causing this error for me.  Can you lead me to a (very small) repo that reproduces this? Maybe some more information about your configuration?

Did you make some changes that got things working? Any info you have will help, I'd love to get you up and running here!

[2018-11-22 19:46] jasonbarry opened #73 "`SyntaxError: Unexpected token` when encountering React Fragment shorthand syntax"
[code]

when it encounters Babel 7's shorthand of React.Fragment, `<>`.

[2018-11-23 00:20] the-simian commented on #73
Interesting! I probably need to update some dependencies. looks like the break is way down there in babylon. Can you show me the code it was trying to parse it that broke it, or maybe throw up a repo that reproduces this? man that could really help me fix this! Especially that second thing!!

[2018-11-28 16:31] seanohue commented on #72
I will try to make a minimal reproduction as well, but here is one repo that I have had this trouble on:
https://github.com/seanohue/myelin-client

I will make a branch that attempts to implement es6-plato (I scrapped my earlier attempt at it).

Is there a difference between splitchunks and webpack's `import()` ?

[2018-11-30 00:38] the-simian commented on #72
Well if by `import` you mean the es6 import specification, then webpack reads these imports to determine how to divide up the js file into 'chunks'.

The `import` syntax is not specifically a webpack thing, more like an es6 thing. I am using this extensively in lots of projects and without issues with es6-plato (which is what I am confused about)

unless you mean the `import` like as a return from

[2018-12-04 17:12] seanohue commented on #72
Yes -- I was using the dynamic `import()` with Webpack. Plato works fine with any other kind of imports. I'll see if TyphonJS allows for parsing dynamic imports, since swapping out parsers or allowing for swappable parsers would be a lot of work. Thanks for pointing me in the right direction.

[2018-12-05 02:49] the-simian commented on #72
@seanohue some time ago when I migrated this project to ES6 that was one of the better parsers (for complexity analysis) there was. If there's a better one, point me to it for sure.

[2019-01-09 18:47] rvillane opened #76 "globby 8.0.1 dependency is broken"
issue is documented here https://github.com/sindresorhus/globby/issues/98
It causes:

path.js:39
    throw new ERR_INVALID_ARG_TYPE('path', 'string', path);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at assertPath (path.js:39:11)
    at Object.join (path.js:1157:7)
    at getPath (/Users/crmar/GitHub_Storage/direct-order-sales-u

[2019-01-18 07:02] luckykun commented on #73
@the-simian  hello,  I have the same problem. Can you fix it?  THX  ^_^

[2019-01-18 22:27] the-simian commented on #73
@luckykun can you post me a snippet of code you got that's breaking so I can use it to test? It might be in the underlying parser also.

[2019-01-28 20:04] sumeetkakkar commented on #76
Here's another error because of broken globby 8.0.1. dependency. This was fixed under
https://github.com/sindresorhus/globby/pull/99.

/Users/dev/git/node_modules/dir-glob/index.js:62
    throw new TypeError(`Expected \`cwd\` to be of type \`string\` but received type \`${typeof opts.cwd}\``);
    ^

TypeError: Expected `cwd` to be of type `string` but received type `undefined`
    at module.expor

[2019-01-29 20:49] the-simian commented on #76
thanks @rvillane and @sumeetkakkar seems like a super simple fix

[2019-01-30 03:34] the-simian commented on #72
I see the issue and the latest version of the underlying parser will fix this:
https://github.com/es-analysis/plato/issues/214

[2019-01-30 03:35] the-simian opened #78 "Remove Grunt Casper entirely"
It doesn't work anymore. I'm tired of looking at it.

[2019-01-30 19:26] the-simian commented on #72
@seanohue Just popping in to say that I'm going to be implementing a fix related to project dependencies. I'll be removing Grunt as much as I can, updating globby and also updating the underplaying parser. This, among some other issues, will go away. I'll post in here when that is done and also THANK YOU for opening this issue and discussing it over this time.

[2019-02-02 09:03] rookiePrgrmer opened #79 "ES6 object shorthand function support"
We found that es6-plato can't recognize es6 object shorthand function, for example:

[code]

[code]

Is that true, or we used es6-plato in wrong way?

[2019-02-05 01:48] the-simian commented on #79
@rookiePrgrmer I'll be updating the underlying parser that might fix this soon. I'll let you know when.

[2019-02-05 01:50] the-simian commented on #73
@luckykun I'll be updating the underlying parser very soon might fix this.

[2019-02-05 01:51] the-simian commented on #69
@alex-pollanI think this is about grunt-casper. I'm removing that, so that will fix this. Grunt-Capser is super out of date and also now considered a vuln dep

the removal of that should clear this up.

[2019-02-05 01:52] the-simian commented on #73
(possibly duplicate of #79 )

[2019-02-05 21:20] seanohue commented on #72
Amazing! Thanks for doing some research on this. Ping me if you need any more info.

[2019-02-08 11:15] niktekusho commented on #76
I just encountered this myself.
I've just tried the @njhoffman fork, and it completes the analysis without errors.
If @njhoffman does not mind, I would be happy to open a PR about this.

[2019-02-08 17:57] njhoffman commented on #76
Of course, let me know if there's anything else I can to do help.

[2019-02-12 02:06] #76 closed

[2019-02-12 02:25] #78 closed

[2019-02-12 02:26] the-simian commented on #61
@Lokiem I updated the deps and am doing some testing

[2019-02-12 02:48] the-simian opened #82 "TypeError: Cannot read property 'sloc' of undefined"

[2019-02-12 03:08] the-simian commented on #72
@seanohue ok I am still working on this. all I can say is that I can repro it. I get
`SyntaxError: Unexpected token (18:21)` when I hit the first 'inline' import statement

[2019-02-22 21:11] Taenick opened #84 ".eslintrc camelcase configuration error"
I currently have the following camelcase rule in my .eslintrc file:

`"camelcase": ["error", { "allow": ["^UNSAFE_"] }]`

According to the eslint documentation, this is completely valid: https://eslint.org/docs/rules/camelcase#allow

But when I run es6plato I get the following error:

`
Error: .eslintrc: Configuration for rule "camelcase" is invalid:
Value {"allow":["^UNSAFE_"]} should NOT have ad

[2019-02-24 04:58] the-simian commented on #84
this might be related to the eslint version, you don't by chance have an older one in the project you're using this with?

see this thread comment: https://github.com/eslint/eslint/pull/10783#issuecomment-430065449

This change was in august, too so it might be the version of eslint I'm using too, in which case I can just update the dep.

[2019-02-25 19:49] Taenick commented on #84
That project is using eslint 5.14.1, which is the latest version according to the npm package site: https://www.npmjs.com/package/eslint

If that feature was just added in august then maybe updating the eslint in the es6plato module will resolve this.

Let me know if there is anything else I should look at.

[2019-02-27 03:13] the-simian commented on #84
@Taenick thanks for the reply, I think you're right lets try that

[2019-03-12 19:47] Taenick commented on #84
@the-simian Any chance that you can merge the eslint update pr in? https://github.com/the-simian/es6-plato/pull/83

[2019-03-17 16:09] DanielRuf opened #86 "Create new / missing tagged release(s)"
The last release was some time ago.

See https://github.com/the-simian/es6-plato/compare/v1.3.0...master

[2019-03-18 15:52] the-simian commented on #86
@DanielRuf can you elaborate on what you're asking me to do here? the version I have on master is 1.1.5 and the version on npm is also 1.1.5 (npm is up to date with github). So it looks like you're not telling me to publish whats in master now, but asking me to do something else. The link you provided shows this as well at the bottom, so I'm not yet sure what you're pointing out.

Are you just con

[2019-03-18 15:55] DanielRuf commented on #86
I think you forgot to push the tags with `git push --tags` as these are missing on GitHub. 1.1.3 is the latest here.

[2019-03-18 15:57] DanielRuf commented on #86
https://github.com/the-simian/es6-plato/tags

https://github.com/the-simian/es6-plato/releases

[2019-03-18 15:59] the-simian commented on #86
@DanielRuf oh ok, weird. I see what you mean now. Yeah I can do that, I didn't even notice the tags weren't there

[2019-03-18 16:08] DanielRuf commented on #86
Well, `git push` does not push the tags by default, it's something that I also forget sometimes ;-)

[2019-03-18 16:22] the-simian commented on #86
@DanielRuf there's a tagged release now, I'll be modifying my workflow on this to make the tagging automatic. I also updated eslint while I was in there

[2019-03-18 16:22] #86 closed

[2019-03-18 16:22] the-simian commented on #84
@Taenick this should be update in 1.1.6

[2019-03-18 16:22] #84 closed

[2019-03-18 16:24] the-simian commented on #82
this is actually caused by #72

[2019-03-18 16:24] #82 closed

[2019-03-18 16:24] the-simian commented on #69
This is gone in 1.1.6

[2019-03-18 16:24] #69 closed

[2019-03-19 00:59] Taenick commented on #84
@the-simian  Thank you!

[2019-06-25 11:58] estherleah opened #91 "Upgrade eslint to v6"
I am getting the error `Configuration for rule "react/jsx-no-bind" is invalid: Value {"ignoreRefs":true,"allowArrowFunctions":true,"allowFunctions":false,"allowBind":false,"ignoreDOMComponents":true} should NOT have additional properties.` when trying to run this.
This seems to be fixed by upgrading eslint to version 6.
Could you please do this?

[2019-07-18 03:18] jcoyne opened #94 "Lodash 4.17.11 has a security vulnerability"
https://npmjs.com/advisories/1065

Please upgrade to >=4.17.12

[2019-07-18 20:05] the-simian commented on #94
Ok no problem I can do that, thanks

[2019-07-31 09:20] malafalabella commented on #94
https://npmjs.com/advisories/1065

Please upgrade to >=4.17.12

When will this be fixed?

[2019-08-01 05:58] the-simian commented on #94
I just published the latest, and that's updated along others!

[2019-08-01 05:58] #94 closed

[2019-08-01 05:58] the-simian commented on #91
all done, see version 1.2.0

[2019-08-01 05:58] #91 closed

[2019-08-01 05:58] the-simian commented on #73
I updated the underlying parser, lets see if this is still an issue @luckykun

[2019-08-01 05:59] the-simian commented on #61
@Lokiem the deps are updated again, I'm closing this but if it is still giving you problems lmk and I'll repoen

[2019-08-01 05:59] #61 closed

[2019-08-01 16:09] estherleah opened #95 "typhonjs-escomplex v0.1.0 causing errors"
Thanks for the upgrade. However, I am getting the following error which is fixed by downgrading typhonjs-escomplex back to version 0.0.12.
[code]

[2019-08-01 20:08] the-simian commented on #95
Thanks I'll downgrade that and republish today

[2019-08-01 20:15] the-simian commented on #95
@estherleah I published 1.2.2 and that solves this! thank you so much for your issue , I'll close this.

[2019-08-01 20:15] #95 closed

[2019-09-08 22:53] DanielRuf opened #99 "linting errors (eslint) not shown"
In my case (website-checks with the refactor/modularize branch) does not show the linting errors (warnings).

Should es6-plato show them normally?

[2019-09-09 16:51] the-simian commented on #99
- by refactor/modularize branch, what do you mean? do you mean my master branch or something of your own? I want to make sure I understand that, because that might change whether or not the next part is relevant.

- there's a section in the report for linting errors. I just now ran the latest versiones6-plato on what I happened to have open in my editor and I see this

![image](https://user-images

[2019-09-09 17:05] DanielRuf commented on #99
I meant my refactor branch of my website-checks repo which us merged in master.

The CLI does not output / list these errors.

Is this wanted or should we see them? A number does not tell much.

So if there are eslint errors we have to run a standalone version of it and check the code again?

[2019-09-09 18:58] the-simian commented on #99
- I am assuming this is a private branch on a private repo? I'm not sure what to do with this information.

- correct, the CLI generates a report. You won't see much of anything in the CLI, here's mine:
[code]

The artifact is the html document I mentioned, it is intended for the user to open it or build it iteratively in ci. By default this is put in the /reports directory, I believe.

Yes, it is

[2019-09-09 19:16] DanielRuf commented on #99
https://github.com/DanielRuf/website-checks

In some cases your CLI prints some eslint errors / exceptions (parsing errors) but not for all / normal eslint findings.

[2019-09-09 19:18] DanielRuf commented on #99
I don't see the one error per file in my case.

[2019-09-09 19:56] the-simian commented on #99
So you're saying when you click into one of the individual file reports, you see the gears with the complexity information, but nothing about the lint errors (eye icons)? And this is in a situation where there's known lint errors (as in if you were to run eslint standalone, you'd see the output.)

Is that the problem?

Just trying to zero in on what needs fixing, here.

FWIW the screenshots I post

[2019-09-09 20:07] the-simian commented on #99
@DanielRuf reason I'm asking: I'm going to be upgrading to eslint 3 like, pretty soon... if I'm gonna work on that I might as well look then

[2019-09-09 20:23] DanielRuf commented on #99
I have found the bug, I will provide a PR.

[2019-09-09 20:30] the-simian commented on #99
I must admit I don't fully understand what the issue was, can you explain the bug? I'd happily check out a PR too, is this so that eslint logs warnings, as well as errors in the console, particularly, or, was this to make the lint errors appear in the files?

[2019-09-09 20:41] DanielRuf opened #101 "report in published package"
https://unpkg.com/browse/es6-plato@1.2.3/report/files/

Not sure why this is there. Is there a good reason? I can not see this in the repository.

[2019-09-09 20:43] DanielRuf opened #102 "misleading releases / tags"
https://github.com/the-simian/es6-plato/releases

1.2.3 is the newest according to npmjs but there are also other tags.
Are these tags / releases from the original project? If so the first release of this project / fork should be the next one.

[2019-09-09 20:45] DanielRuf opened #103 "enable Travis CI"
Currently it seems Travis CI is not used:
https://github.com/the-simian/es6-plato/blob/master/.travis.yml

[2019-09-09 20:46] DanielRuf opened #104 "two lockfiles"
It makes not much sense to provide two lockfiles.
Use either package-lock.json or yarn.lock (these are out of sync).

[2019-09-09 20:47] the-simian commented on #102
V 1.2.3 is the latest and is also the version in the package.json as well, I just was not publishing releases on github. as for the tags there's some old ones from the old fork, although  I did publish 1.1.6 in MArch and still need to publish 1.2.3

I'll set up CI for this, I hadn't the chance to

[2019-09-09 20:48] the-simian commented on #102
I made a 1.1.6 release I'll make a tag and release for 1.2.3 too

[2019-09-09 20:52] the-simian commented on #102
I deleted old releases that would complicate semver, this should be fine now

[2019-09-09 20:53] DanielRuf commented on #102
Looks good so farö Thanks for the super fast reaction.

[2019-09-09 20:53] #102 closed

[2019-09-09 20:54] the-simian commented on #102
Right on, I should be more studious about the releases and tags tbh

[2019-09-09 20:55] the-simian commented on #104
Ah yes, that's because I was testing with both package managers and doing security audits with both, lets just use yarn, I'll delete the other

[2019-09-09 20:58] #104 closed

[2019-09-09 20:58] the-simian commented on #104
I'll bump the version and stuff after I review your PR later

[2019-09-09 21:00] the-simian commented on #103
this is from the old fork, no its not used currently. I'm going to use something else, I'll hook up tagging and stuff as well, so I'll handle this

[2019-09-09 21:22] the-simian commented on #101
I ran the report on the project itself, I was considering using it as an example for gh-pages and it got publishes, as well as a way to test it working (aside from any sort of unit testing) I didn't intend to publish that to npm though, just github I'll update the gitignore, would be fine and in the next version the folder won't be in there.

[2019-12-09 14:08] rayno commented on #73
Yes, still an issue. It throws the error for each file.

[2019-12-09 20:17] the-simian commented on #73
thanks for the update @rayno , can you post a snippet that throws so I can reproduce your exact usecase?

[2019-12-10 11:05] rayno commented on #73
Environment: Windows 10 64-bit
NodeJS: v10.15.0

file: `test.js`
[code]

file: `test-plato.js` (taken from npm page)
[code]

Console output from `node ./test-plato.js` (same with no lintRules):
[code]

[2019-12-11 20:06] the-simian commented on #73
@rayno, thank you!

[2020-05-19 14:44] oliverjessner opened #108 "Still maintained?"
We really love es6-plato but it doesn't work with `?.` operators.
Is there any chance es6-plato gets updated?

warm regards

[2020-07-08 18:25] codehearts opened #111 "Lodash fails npm audit"
A low severity security advisory was opened against Lodash for prototype pollution: https://www.npmjs.com/advisories/1523

Updating to 4.17.17 should do the trick!

[2020-07-19 18:30] #111 closed

[2020-07-19 18:35] the-simian commented on #108
I'd have to look into the underlying parser, it looks like there might be some updates there, so I'll look into this, thanks for the issue. Yeah, there's also some issues with dynamic imports as well. A lot changing, pretty fast.

If you're asking if I still maintain this, in a sense - yes. I try to keep an eye on major things, but I've also been having a hard time giving it all the attention it d

[2020-07-27 05:50] Shin-Ogata opened #113 "Latest version is not published on `npm` yet."
Thank you for your great job.
It seems that the latest `v1.2.4` module (fixed #111) is not published on `npm` yet.

Could you publish the latest version to `npm`and release on `GitHub` ?

[2020-07-31 08:38] jjmschofield opened #114 "Typescript support"
It would be great if this tool could be used in typescript projects. What would be required to make that possible?

[2020-08-21 16:39] pete-the-pete commented on #108
For what its worth, I have a fork that's updated to the latest deps and supports `?.`

https://github.com/pete-the-pete/es6-plato

@the-simian I'd be happy to try and make this a PR and landed.

[2020-08-25 05:22] Shin-Ogata commented on #113
How is it coming along?

[2020-09-12 22:01] #101 closed

[2020-09-12 22:01] #103 closed

[2020-09-12 22:01] #99 closed

[2020-09-24 06:41] oliverjessner commented on #108
friendly pump

[2020-12-10 04:04] 1000i100 commented on #68
https://github.com/the-simian/es6-plato/blob/master/lib/plato.js#L132
[code]
Does this will do the tricks or ts is not handled ?

[2021-01-15 13:39] jbrizio commented on #113
Hi @the-simian, when you estimate to publish the latest version `1.2.4` on npm? Thanks in advance.

[2021-01-28 08:38] IcodeNet opened #116 "When Plato is parsing Javascript that is using the elvis operator '?' it throws exceptions"
` return nounDict[freq**?**.toLowerCase()];`

the following javascript cannot be parsed.
I will try an update the packages to the latest versions.

I have the feeling it will fix it.

ta

[2021-05-20 14:32] cxn-mkalinovits commented on #116
Do you have any luck with this?

[2021-06-01 20:44] Nantris commented on #116
Works for us under ESLint rules:

**.eslintrc.js**

[code]

and it might also be necessary to update your `babel.config.js` or equivalent file. I'm guessing the Babel parser is automatically using that file.

**babel.config.js**

[code]

Technically that `?` is called the optional chaining operator.

If that doesn't do the trick I can look through our config a bit more to try to figure out if ther

[2021-06-01 20:45] Nantris commented on #113
You can install the latest version like this in your `package.json`:

[code]

[2021-06-01 20:46] Nantris commented on #108
@the-simian would you be open to integrating @pete-the-pete's changes?

I _love_ this project. Thank you for picking up the baton and carrying it this far!

[2021-06-01 23:28] the-simian commented on #116
@IcodeNet did @Slapbox 's fix work? I am considering closing this one if its actually ok. If I don't hear back I'll assume its ok afterall

[2021-06-01 23:28] the-simian commented on #113
thanks @Slapbox yep I need to publish this, but you can point to github in the short term

[2021-06-01 23:30] the-simian commented on #68
Hey I pulled in a fix for this today! Jsut reopen if its no good. I can't publish immediately so point to the repo if you need it  right this moment

[2021-06-01 23:30] the-simian commented on #68
thank you @1000i100 !!!!

[2021-06-01 23:30] #68 closed

[2021-06-01 23:33] the-simian commented on #108
@pete-the-pete 100% make a PR I'll happily pull that in

@Slapbox he's got the all clear from me. If I dont' hear back I might just go to the fork he has and see what was done. I need to do some deeper work on this project when I can but I've been time-starved to dig more deeply. Like I want to update the underlying parser for instance.

Thank you both (and you too, @oliverjessner !!)  for showing

[2021-06-01 23:39] the-simian commented on #113
also just a heads up on that globby issue referenced, if I recall that might make it behave differently on windows. I had to deal with that regression on another project of mine, create-phaser-app, so you can't just pull it in I need to make some code changes in the globs.

like I had to change my globs in there to look like this:
[code]

the .replace was the important part and also using  posix,

[2021-06-01 23:41] the-simian commented on #116
could be related to #108 , which was also about the "elvis operator"/ optional chaning

[2021-06-02 17:23] pete-the-pete commented on #108
Let me revisit what I've done...its been a while 😬 , but I'd love to get this landed and do more with this project.

[2021-06-02 21:28] Nantris commented on #116
I've added a bit to that proposed remedy. I'm guessing that the `babel.config.js` file is utilized by the Babel parser, so be sure you have the `@babel/plugin-proposal-optional-chaining` installed and in your Babel config.

Whatever the issue, something in our config definitely fixes it and I'm happy to help anyone get it working.

The only thing in our codebase that really trips the parser up is

[2021-06-02 22:38] the-simian commented on #116
@Slapbox are you using rollup with that, or webpack 5? For a long time top level wasn't really worth supporting because even if you parsed it, couldn't use it. Decorators have also had a tumultuous history as well.

[2021-06-02 23:07] Nantris commented on #116
Webpack 5 here. Honestly it's still kind of a pain even for us, but less painful than writing self-executing async functions.

There's no way they were worth using before this year. You probably already know that [Webpack@5.x supports them via its "experiments."](https://webpack.js.org/configuration/experiments/).

Strangely, for all the errors ES6-Plato throws while parsing code containing top le

[2021-06-09 22:39] Slapbox opened #118 "[Feature Request]: Show standard lines of code over time, like is done with average lines of code"

[2021-06-14 23:16] Nantris commented on #116
Hmmm... Our "fix" may not actually work. Looks like it still fails to parse those files. I'm honestly not sure how I could have overlooked it, but I can't get it working by moving backwards in our commit history so I have to assume human error here.

[2021-09-10 01:40] 0x1428571429 commented on #73
I have the same problem

[2021-12-10 12:53] HenriqueDerosa commented on #73
I have the same problem. Any chance this is going to be fixed? Or an alternative? 🤔

[2022-10-21 17:04] niefz commented on #116
I fixed by replace "typhonjs-escomplex": "0.0.12" with "typhonjs-escomplex": "0.1.0". @Slapbox

[2022-11-23 00:33] 1000i100 commented on #113
One year later, still not published ?